<h1>Alpha Blog | About</h1>
<%= link_to 'Home', root_path %>
<p>The Alpha Blog is part diary, part mind dump and whole heartedly one man's view of the world. All opinions, ideas and topics are my own.</p>